# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore IDE specific files
.idea/
.vscode/
*.iml